<div id="content">

	<div class="container">

    <h1>Hire Fructivity</h1>

    <p>Fructivity is a small company founded by <a href="http://twitter.com/#!/oscardelben">Oscar Del Ben</a>. We specialize in Ruby on Rails backend development and iOS/Mac development.</p>

    <p>Oscar Del Ben is available for part time consulting starting at 100$/hour.</p>

    <p>Interested in working with us? Send an email to <%= mail_to 'hello@fructivity.com' %>.</p>

  </div>

</div>
