<div class="box-big">
  <div class="container">
    <%= image_tag 'ColorPicker.png' %>
    <h4>Color Picker Pro</h4>
    <p>Color Picker Pro is an easy to use color detection tool for developers and designers.</p>

    <ul>
      <li>Quickly get color information for any pixel in the screen.</li>
      <li>Add colors to your clipboard with a system wide hot key.</li>
      <li>Automatically save previously copied colors.</li>
      <li>Choose your preferred color style.</li>
      <li>Works on multiple monitors.</li>
      <li>Much more!</li>
    </ul>

    <p class="small">* Color Picker Pro requires Mac Os X 10.6 or newer.</p>

    <div style="clear:both"></div>

    <p style="text-align:center"><img src="https://raw.github.com/oscardelben/Color-Picker-Pro/master/screenshot.png" /></p>

    <blockquote>&mdash; Color Picker is a clever little application: it doesn't get in your way and does its job perfectly. Web designers all around the world will love it! Michele Gerarduzzi.</blockquote>

    <p class="action"><a class="button red" href="http://fructivity.s3.amazonaws.com/ColorPickerPro/Color%20Picker%20Pro.zip">Download - FREE</a> or <a href="https://github.com/oscardelben/Color-Picker-Pro">Fork on Github!</a><p>

    <p style="text-align:right"><a href="http://twitter.com/share" class="twitter-share-button" data-text="Check out Color Picker Pro at Fructivity.com!" data-count="horizontal" data-via="oscardelben">Tweet</a><script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script></p>
  </div>
</div>

<div class="container" style="width:600px; margin:100px auto 150px auto;">
  <p>Like what you saw? I plan to release more! You can show your support by subscribing to the <a href="http://fructivity.us2.list-manage.com/subscribe?u=5f3a473686dbf2cee894a4189&id=01334bdda9">newsletter</a>. I'll only notify you when new awesome products are released.</p>
</div>

<div class="box-big">
  <div class="container" style="width:600px">
    <h4>Hire Fructivity!</h4>
    <p>My name is Oscar Del Ben and I specialize in iOS/Mac and Ruby on Rails development.</p>
    <p>During the last 5 years I've worked with several startups and studios to create some of the top rated apps in the Mac App Store as well as several high quality web applications.</p>
    <p>I provide the following services:<p>
    <ul>
      <li>Mac App Development.</li>
      <li>iOS (iPhone and iPad) development.</li>
      <li>Ruby on Rails development.</li>
      <li>Javascript development.</li>
    </ul>

    <p>I love to code. Check out my <a href="https://github.com/oscardelben">Github profile</a>, my <a href="http://oscardelben.com/resume.html">resume</a>, or just <a href="mailto:hello@fructivity.com">get in touch</a> to see if I can help you with your project.</p>

  </div>
</div>
